<div class="row" id="privacy_policy">
    <div class="col s12  offset-m2 m8 left-align">
        <h2 class="title">Privacy Policy</h2>
        <p>
            Developer built the "edobavki" app as an Ad Supported app. This app
            is provided by at no cost and is intended for use as is.<br><br>
            This privacy policy is used to inform you regarding policies with the collection, use, and
            disclosure of Personal Information if anyone decided to use this Service.
        </p>
        <br>
        <h6> 1. Overview</h6>
        <p>
            The app uses advertising (and in app payments) to make revenue. The app uses third party
            libraries for advertising which may collect and share personal information with third
            parties.<br><br>
            Links to privacy policies of third party service providers used in the app:
        <ul>
            <li>
                <a href="https://www.google.com/policies/privacy/">Google Play Services</a>
            </li>
            <li>
                <a href="https://support.google.com/admob/answer/6128543">AdMob</a>
            </li>
        </ul>
        </p>
        <br>
        <h6>2. Sharing Your Information</h6>
        <p>
            The developer will share personal information with third parties only in the ways that are
            described in this privacy statement.<br><br>
        </p>
        <p>
            Your personal information may be disclosed:
        <ul>
            <li>* As required by law, such as to comply with a subpoena, or similar legal process.</li>
            <li>* To any other third party with your prior consent to do so.</li>
        </ul>
        </p>
        <br>
        <h6>3. What information are collected and why</h6>
        <h6>3.1 AdMob</h6>
        <p>
            AdMob, is Google's mobile app advertising platform designed specifically for app
            developers. In order to understand Google's use of Data, consult Google's partner policy.<br><br>
        </p>
        <p>
            Personal Data:
        <ul>
            <li>* Online identifiers, including cookie identifiers</li>
            <li>* IP addresses</li>
            <li>* Device identifiers</li>
            <li>* Client identifiers</li>
            <li>* unique device identifiers for advertising (Google Advertiser ID or IDFA, for example)</li>
            <li>* Usage Data.</li>
        </ul><br>
        </p>
        <p>
            Retention:
            Google anonymizes the log data by removing part of the IP address (after 9 months) and
            cookie information (after 18 months)
        </p>
        <br>
        <p>
            Online resources:
        <ul>
            <li>
                <a href="https://www.google.com/policies/technologies/ads/">Privacy Policy</a>
            </li>
            <li>
                <a href="https://www.google.com/settings/ads">Opt out</a>
            </li>
            <li>
                <a href="https://www.google.com/settings/ads">Service Information</a>
            </li>
            <li>
                <a href="https://policies.google.com/technologies/partner-sites">Partner policy</a>
            </li>
            <li>
                <a href="https://support.google.com/admob/answer/9012903">Ad technology providers</a>
            </li>
        </ul><br>
        </p>
        <h6>3.2 Google Play Services</h6>
        <p>
            Google Play Services offers APIs and security services to the Android developer ecosystem.
            Google acts as a data controller for any personal data processed in Google Play Services,
            and offers user notices and consents about the use of personal data in the service’s user
            interface in Android.
        </p>
        <br>
        <p>
            Online resources:
        <ul>
            <li>
                <a href="https://policies.google.com/terms">Google Terms of Service</a>
            </li>
            <li>
                <a href="https://policies.google.com/privacy">Google Privacy Policy</a>
            </li>
        </ul>
        </p>
        <br>
        <h6>4. Security</h6>
        <p>
            I am striving to use commercially acceptable means of protecting your Personal
            Information. But remember that no method of transmission over the internet, or method of
            electronic storage is 100% secure and reliable, and I cannot guarantee its absolute
            security.
        </p>
        <br>
        <h6>5. Links to Other Sites</h6>
        <p>
            This Service may contain links to other sites. If you click on a third-party link, you
            will be directed to that site. Note that these external sites are not operated by me.
            Therefore, I strongly advise you to review the Privacy Policy of these websites. I have
            no control over and assume no responsibility for the content, privacy policies, or
            practices of any third-party sites or services.
        </p>
        <br>
        <h6>6. Children’s Privacy</h6>
        <p>
            These Services do not address anyone under the age of 16. I do not knowingly collect
            personally identifiable information from children under 16. In the case I discover that
            a child under 16 has provided me with personal information, I immediately delete those
            informations. If you are a parent or guardian and you are aware that your child has
            provided personal information, please contact me so that I will be able to do necessary
            actions.
        </p>
        <br>
        <h6>7. Distribution</h6>
        <p>
            The only official channel for distribution of this app are:
        <ul>
            <li>
                <a href="https://play.google.com/">Google Play Store</a>
            </li>
        </ul>
        <br>
        Any other mode of distribution is not official and thus, is not maintained by the developer.
        This privacy policy is effective to distribution made on official channel only.
        </p>
        <br>
        <h6>8. Changes to This Privacy Policy</h6>
        <p>
            This policy may be updated from time to time.
            <br><br>
            Contact me
            <br><br>
            If you have any questions or suggestions about my Privacy Policy, do not hesitate to
            contact me.
            <br><br>
            admin@edobavki.top
        </p>
    </div>
</div>
