.parallax-container {
    position: relative;
    overflow: hidden;
    height: 280px;
}

nav {
    color: #fff;
    background-color: #128a6d;
    width: 100%;
    /*line-height: 56px;*/
}

nav#breadcrumbs {
    color: #fff;
    background-color: transparent;
    width: 100%;
    line-height: 56px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0);
}

#index-banner {
    color: #fff;
}

.brand-logo {
    text-align: left;
}

h1 {
    text-align: center;
    font-size: 3rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
}

h2 {
    font-size: 2.56rem;
    line-height: 110%;
    margin: 1.78rem 0 2.5rem 0;
}

h3 {
    font-size: 2rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
}
@media (max-width: 768px) {
    h1 {
        text-align: center;
        font-size: 2.2rem;
        line-height: 110%;
        margin: 2.1rem 0 1.68rem 0;
    }

    h2 {
        font-size: 2.05rem;
        line-height: 110%;
        margin: 1.78rem 0 1.424rem 0;
    }

    h3 {
        font-size: 1.7rem;
        line-height: 110%;
        margin: 1.46rem 0 1.168rem 0;
    }

    .brand-logo {
        text-align: center;
    }
}
h6 {
    font-weight: bold;
    color: #5a5a5a;
}
* {
    margin: 0;
    padding: 0;
}
#wrapper {
    min-height: calc(100vh - 220px);
}
.section {
    margin-top: 20px;
}
.input-field input[type=text] {
    display: block;
    line-height: inherit;
    padding-left: 4rem;
    width: calc(100% - 4rem);
}
.input-field input[type=text]:focus {
    background-color:#fff;
    border:0;
    box-shadow:none;
    color:#444
}
input[type="text"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}
.autocomplete-content {
    margin-top: -15px;
    display: block;
    opacity: 1;
    position: relative;
}
#search-results li:hover {
    background-color: lightcyan;
}
input[type="text"] {
    background-color: white;
    color: black;
}
.fa.fa-mobile {
    padding-left: 5px;
}
#bad_url ul li{
    list-style-type: circle;
    /*line-height: 20px;*/
}
.breadcrumb:last-child {
    color: rgba(255,255,255,0.7);
}
p{
    text-align: justify;
}

#autocomplete::-ms-clear {
    display: none;
}

#about_us li {
    margin: 10px;
    word-wrap: break-word;
}

#about_us p,
#about_us ul{
    margin-top: 5px;
    margin-bottom: 5px;
}

#about_us p {
    color: rgba(0,0,0,0.87);
}

#about_us h2 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 2rem 0 1rem 0;
}

#additive_list .collapsible-body a {
    color: rgba(0,0,0,0.87);
}

#additive_list .collapsible-body div.additive:nth-of-type(even) {
    background: #e0e0e0;
}

#additive_list .row.additive:hover{
    background-color: lightcyan;
}

#additive_show p,
#additive_show ul
{
    margin-bottom: 20px;
}

#additive_show h2 {
    font-weight: bold;
    color: #5a5a5a;
}

#additive_show h2 {
    font-size: 1rem;
    line-height: 110%;
    margin: .5rem 0 .4rem 0;
}

#additive_show .btn i {
    font-size: 0.9rem;
    line-height: inherit;
}
#article_list .card .card-title {
    font-size: 32px;
    font-weight: bold;
}
#article_list .card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    filter: brightness(90%);
}
#article_show p{
    margin-top: 20px;
}
#article_show h2 {
    font-size: 2.2rem;
    line-height: 110%;
    margin: 1.78rem 0 2.5rem 0;
}
#bad_url h1 {
    font-size: 2.56rem;
    line-height: 110%;
    margin: 1.78rem 0 2.5rem 0;
}
#start_page h4 {
    font-size: 24px;
    text-align: center;
}
#start_page .img.responsive-img {
    text-align: center;
}

#start_page #about_app {
    margin-top: 40px;
    margin-bottom: 20px;
}

#start_page #document {
    margin-bottom: 50px;
}

#start_page #app_block h4 {
    margin-bottom: 30px;
}

#start_page #news_block h4 {
    /*margin-bottom: 30px;*/
}

#start_page h2 {
    font-size: 2rem;
    line-height: 110%;
    margin: 0.9rem 0 0.5rem 0;
}

#start_page h3 {
    font-size: 1.2rem;
    margin: 1.46rem 0 1.168rem 0;
}
#start_page #news_block div.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
#mobile_app #download {
    margin-top: 20px;
}

#mobile_app .row .col h4 {
    text-align: center;
}

#mobile_app #cards_block h4{
    margin-bottom: 25px;
}
#mobile_app .app-logo {
    width: 100px;
    height: 100px;
}
#mobile_app .bounceEffect{
    text-align: left;
}
