<div class="section" id="about_us">
    <div class="row">
        <div class="col s12 offset-m3 m6 offset-l2 l8">
            <h2 class="title center">Сообщить об ошибке</h2>
            <p class="text-darken-1 start-paragraph-text">
                Спасибо, что Вы посетили наш интернет-справочник <b>«{{ site_name }}»</b>.
                Мы постоянно работаем над улучшением нашего продукта,
                поэтому если Вы заметили опечатку или неверную информацию,
                Вы можете сообщить об этом на наш E-mail
                {{ site_email }} указав в письме:
            </p>

            <ul>
                <li>1. код добавки (пример: Е100);</li>
                <li>2. описать, где находится неточность, опечатка, устаревшая информация и т.д;</li>
                <li>3. приложить ссылку на авторитетный источник с верной информацией.</li>
            </ul>
            <h2 class="title center">При создании сайта использовались</h2>
            <ul>
                <li>
                    1. Сарафанова Л.А. Пищевые добавки: Энциклопедия. — 2-е изд.,
                    испр. и доп. — СПб: ГИОРД, 2004. — 808 с.
                </li>
                <li>
                    2. Требования безопасности пищевых добавок, ароматизаторов
                    и технологических вспомогательных средств от 20 июля 2012 г. № 58,
                    <a href="http://www.eurasiancommission.org/ru/Lists/EECDocs/RS_P_58.pdf">
                        eurasiancommission.org/ru/Lists/EECDocs/RS_P_58.pdf.
                    </a>
                </li>
                <li>
                    3. Current EU approved additives and their E Numbers,
                    <a href="https://www.food.gov.uk/science/additives/enumberlist">
                        food.gov.uk/science/additives/enumberlist.
                    </a>
                </li>
            </ul>
            <h2 class="title center">Использование информации</h2>
            <p class="text-darken-1 start-paragraph-text">
                Материал, размещенный на нашем сайте проверен и взят из авторитетных источников. Но, поскольку
                вероятность ошибок все равно присутствует, администрация ресурса не может гарантировать абсолютную
                точность и правильность сведений. В связи с этим информация на сайте<b> «{{ site_name }}»</b>
                предоставляется в ознакомительных целях, и разработчики не несут ответственности за возможные ошибки,
                связанные с использованием сайта.
            </p>
            <p class="text-darken-1 start-paragraph-text">
                При копировании информации указывайте ссылку на наш ресурс.
            </p>
        </div>
    </div>
</div>